
.divider:after,

.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
}
#container {
    height: auto;
    margin: 0 auto; /* footer height + space */
    min-height: 100%;
    padding: 0 0 30px; /* footer height + space */
    overflow: auto;
}
.footer {
    height: 90px;  /* footer height */
    padding-top: 20px;
    margin-top: 20px; /* space between content and footer */
    width: 100%;
    position: fixed;
    bottom: 0;
}

.registerBtn {
    margin: -5% 0 0 36%;
}

#loginBtn {
    margin: 0 0 0 41%;
}

#carouselExampleCaptions {
    margin: 5% 30% 0 30%;
}

.homeGreyBox{
    background-color: grey;
    opacity: 0.95;
    border-radius: 10%;
}

.homeHeader{
    text-align: center;
    margin-top: 20px;
}

.carouselTextBlack{
    color: black;
}

