<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OIX</title>
    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!--Fav icon-->

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--Bootstrap-->
</head>

<body>
<div th:replace="fragments/navbar">Navbar</div>


<div id="container">
    <div class="card" th:object="${offer}">
        <div th:text="*{title}" style="font-weight: bold"></div>
        <img th:src="@{*{urlPicture}}" class="card-img-top" alt="image">

        <li class="list-group-item">
            <div class="card-text"><span><b>• Price: </b><th:block th:text="*{price}"></th:block></span></div>
            <div class="card-text"><span><b>• Seller: </b><th:block th:text="*{sellerFullName}"></th:block></span></div>
            <div class="card-text"><span><b>• Location: </b><th:block th:text="*{location}"></th:block></span></div>
            <div class="card-text"><span><b>• Category: </b><th:block th:text="*{category}"></th:block></span></div>
            <div class="card-text"><span><b>• Description: </b><th:block th:text="*{description}"></th:block></span></div>
        </li>

        <div>
            <span th:if="*{sellerId} == ${#authentication.principal.id}">
                <a class="btn btn-primary" th:href="@{/offers/{offerId}/edit(offerId=*{id})}" role="button">Edit</a>
                <a class="btn btn-danger" th:href="@{/offers/{offerId}/delete(offerId=*{id})}" role="button">Delete</a>
            </span>
            <span th:unless="*{sellerId} == ${#authentication.principal.id}">
                <a class="btn btn-success" th:href="@{/offers/{offerId}/buy(offerId=*{id})}" role="button">Buy</a>
            </span>
        </div>

        <div class="container justify-content-center mt-5 border-left border-right">
            <div class="d-flex justify-content-center pt-3 pb-2"> <input type="text" name="text" placeholder="+ Add a comment" class="form-control addtxt"> </div>
            <div th:each="comment : *{comments}"
                 th:object="${comment}"
                    class="d-flex justify-content-center py-2">
                <div class="second py-2 px-2">
                    <span class="text1" th:text="*{description}">Comment 1</span>
                    <div class="d-flex justify-content-between py-1 pt-2">
                        <div>
                            <span class="text2" th:text = "*{senderFullName}">Martha</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer">Footer</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>